// screen size
$screen-xxs: 0;
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg: 1200px;
$screen-xxlg: 1360px;
$screen-xxxlg: 1680px;

$screen-xxs-min: $screen-xxs;
$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xlg-min: $screen-xlg;
$screen-xxlg-min: $screen-xxlg;
$screen-xxxlg-min: $screen-xxxlg;
