pre {
  text-overflow: clip;
}

section.input_area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eachContent {
  background-color: gray;
  padding: 20px;
  margin: 5px 0;
  border-radius: 10px;

  > div {
    display: flex;
  }
}
